@font-face {
    font-family : "pixelpolice";
    src : url("pixelpolice.ttf");
}

body
{
	background-color : black;
	/* background-color : #030310; */
	margin : 0;
	padding : 0;
	/* perspective: 1500px;
	transform-style: preserve-3d; */
}

textarea
{
	display : none;
}

.canvas
{
	position : absolute;
	padding : 0px;
	margin : 0px;
	border : 0px;
	background-color : black;
	transform : translateZ(0px);
}